<div style="background-color: black">
    <select  ng-model="ctrl.currentMonth"  ng-change="ctrl.changeDisplay()"  >
        <option ng-repeat="item in ctrl.months" value={{item.value}} >
            {{item.month}}
        </option>

    </select>

    <select ng-model="ctrl.currentYear" ng-change="ctrl.changeDisplay()">
         <option ng-repeat="year in ctrl.years" value="{{year}}">
                   {{year}}
         </option>
    </select>
    <div ng-if="ctrl.dateRangeResult!=undefined">
        <div ng-repeat="item in ctrl.dateRangeResult.days" ng-class="{ 'date':item.weekday, 'dateWeekend': !item.weekday }" >
            <p>{{item.day}}</p>
        </div>
    </div>
</div>